:root{
    --black-color: black;
    --text-color: rgb(0,255,145);
  }

.modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.6);
  
  }
  
  .modal_inner_popup{
    width: 300px;
    position: relative;
    top: 35%;
    margin: auto;
    background: white;
    height: 150px;
    border-radius: 10px;
    border: 1px black;
  }
  
  
  
  
  
  .modal_body{
    padding: 20px 0px;
  }
  
 

  .modal_footer_2{
    padding: 5px;
    text-align: center;

    color: var(--text-color);
    height: 40px;
    display: block;
   
  }
  
  .modal_footer_2 input{
    margin: 0 0;
    background-color: var(--text-color);
    color: var(--black-color);
    height: 30px;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    width: 80px;
    margin-left: 5px;
    /* text-align: center; */
  }

  .checkbox{
    display: inline-block;
    width: 10%;
  }