nav{
    height: 50px;
    border: 1px solid rgb(236, 243, 240,0.01);
    margin-bottom: 25px;
    color: rgb(0,255,145);
    width: 96.9%;
    margin-left:3.1%;
}

.div-header{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.div-svg{
    height: 100%;
    width: 250px;
    padding: 0 39px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
.div-svg-2{
    height: 100%;
    width: 300px;
    padding: 0 39px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
   background-color: black;
   border-radius: 10px;
}
.div-svg-3{
    height: 100%;
    width: 700px;
    padding: 0 39px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
.text{
    font-weight: bold;
    color: rgb(0, 255, 21);
    font-size: xx-large;
}

.button-header{
    border: 1px  rgb(0,255,145);
}

.button-header:hover{
    background-color: rgb(207, 203, 203);
}
